/* ===== Main Content ===== */
.main-container {
    margin-left: 0;
    padding: 2rem;
    transition: margin 0.3s ease;
}

section {
    background: var(--section-bg);
    border-radius: var(--border-radius);
    padding: 3rem 2rem;
    margin: 2rem 0;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
 /* ========= ========= ========= ====== Home Section ===== ========= ========= ========= */

 /* ===== Home Section Style===== */
 .Home-content {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 3rem;
    align-items: center;
    justify-items: center;
    min-height: 90vh;
    padding: 4rem 2rem;
    background: linear-gradient(rgba(23,28,40,0.9), rgba(23,28,40,0.9)), 
        url("/Images/bk1.png"); /* Background with overlay */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 /* ===== Home Text Animation ===== */
.masked-text {
    font-size: 5rem;
    font-weight: 700;
    color: transparent;
    background-image: url('https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: 200%; /* Enlarged for smooth animation */
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 40s infinite alternate linear;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;
    line-height: 1.2;
}
.masked-text::after {
    content: '👋';
    margin-left: 1px;
    -webkit-text-fill-color: white; /* Ensures visibility */
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


