.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: margin-left 0.4s ease-in-out, width 0.4s ease-in-out; /* Smooth movement */
}

section {
    padding: 50px 20px;
    background: #131722;
    margin: 20px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.1);
    min-height: 800px;
}


/* Hide sections initially */
/*
.section {
    opacity: 0;
    transform: translateX(-600px);
    transition: opacity 2.4s ease-out, transform 1.2s ease-out;
}


.section.visible {
    opacity: 1;
    transform: translateX(0);
}*/

.Home-content {    
    display: flex;
    flex-direction: row; /* Stack text and paragraph */
    justify-content: center;
    align-items: top;
    text-align: left;
    color: white;
    padding: 20px;
    background: linear-gradient(rgba(23,28,40,0.9), rgba(23,28,40,0.9)), 
                url("/Images/bk1.png"); /* Background with overlay */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    gap: 10px;

}
.Home-Div1 {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.Home-Div2 {
    flex: 1;
    min-width: 400px; /* Prevents excessive shrinking */
    display: flex; /* Enables flexbox */
    align-items: center; /* Centers image vertically */
    justify-content: left; /* Centers image horizontally */
}

/* Image styling */
.Home-Div2 img {
    width: 90%; /* Makes it responsive */
    height: 90%; /* Maintains aspect ratio */
    max-width: 700px; /* Prevents it from growing too large */
}



.masked-text {
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: transparent;
    background-image: url('https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: 200%; /* Enlarged for smooth animation */
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 40s infinite alternate linear;
    margin-top: 20;
    padding: 0;
}

.masked-text::after {
    content: '👋';
    margin-left: 10px;
    -webkit-text-fill-color: white; /* Ensures visibility */
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}



.Intro-container {

    font-family: Montserrat,sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Intro_Buttons {
    display: flex;
    gap: 30px;
}

.Work-Button {
    font-family: Montserrat,sans-serif;
    font-size: 21px;
    width: 200px;
    padding: 15px 25px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(45deg, #0a84ff, #00d4ff);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 212, 255, 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
}

.Work-Button:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 212, 255, 0.8);
}

