.sidebar {
    width: var(--sidebar-width);
    background: var(--sidebar-bg);
    border-radius: 25px;
    position: fixed;
    height: 100vh;
    padding: 2rem 1.5rem;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.sidebar.active {
    transform: translateX(0);
    box-shadow: 4px 0 15px rgba(0,0,0,0.2);
}

.sidebar nav ul {
    list-style: none;
    gap: 0.8rem;
}

.sidebar nav ul li a {
    font-family: "Henny Penny", serif;
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    transition: var(--transition);
}